<div class="container">
<%= simple_form_for([@business]) do |f| %>
  <%= f.input :name, label: false, required: true, placeholder: 'Enter the name of your business*' %>
  <%= f.input :description, label: false, as: :text, required: true, placeholder: 'Describe your business in 260 characters*' %>
  <%= f.input :website, label: false, as: :text, required: true, placeholder: 'Enter the link of your website*' %>
  <%= f.input :logo, label: 'Upload your logo', as: :file, required: true %>
  <%= f.button :submit, class: 'btn-dark' %>
<% end %>
</div>
