
<div class="container">
  <p>Hey, <%= current_user.first_name %></p>
  <ul class="list-inline tabs-underlined" id="pills-tab" role="tablist">
    <li>
      <a href="#business" class="tab-underlined active">Business</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Conversations</a>
    </li>
  </ul>
<div>
<p>You currently have <%= @business_count %> business<%= @plural %>.</p>
<% @my_businesses.each do |business| %>
    <div class="mt-4 border-top">
      <!-- Find a way to show the business logo here. It's currently returning nil for ? reason. -->

        <div class='mt-3'>
          <% if  business.logo.attached? %>
            <div class="card-business" style="background-image: url(<%= cl_image_path business.logo.key %>);">
            </div>
          <% else %>
            <div class="card-business" style="background-image: url('https://res.cloudinary.com/novapixels/image/upload/v1638194047/Story%20Deck/meta-image_wvzdab.png');">
            </div>
          <% end %>
        </div>
        <div>
            <%= link_to business_stories_path(business) do %>
              <h3 class="mt-4"><%= business.name %></h3>
              <p><%= business.description %></p>
              <% end %>
          <p><strong>Website:</strong></p>
            <a href="<%= business.website %>" target="_blank" class="custom-link">
            <%= business.website %>
          </a></p>
          <div style="text-align: center">
      <%= link_to "Create a story", new_business_story_path(business), class: "btn btn-custom btn-custom-dark mt-3" %><br>
      <%= link_to 'Edit this brand', edit_business_path(business), class: 'btn btn-custom btn-custom-dark-outline mt-3' %>
        </div>
        </div>

      </div>
    </div>
    <% end %>
</div>

</div>
