<!-- CAROUSEL -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
  <% @creator.photos.each_with_index do |photo, index| %>
    <div class="carousel-item <%= index == 0 ? 'active' : ' '  %>">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
    </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- END OF CAROUSEL -->

<div class="container">
  <h1 class="mt-4" ><%= @creator.stage_name %></h1>

  <h4><i class="fas fa-map-marker-alt"></i> <%= @creator.location %></h4>
  <p><%= @creator.description %></p>
  <div class="categories-list">
  <h4>About my community</h4>
  <% @creator.categories.each do |category| %>
  <%= category.name %>
  <% end %>
  </div>



  <div class="mt-3" style="text-align: center">
    <a href="https://<%= @creator.website %>" class="btn btn-custom btn-custom-dark mt-3">Contact me</a>
    <%= link_to 'Back to creators', url_for(:back), class: 'btn btn-custom btn-custom-dark-outline mt-3' %>

  </div>
</div>
