<h1>Create a new story</h1>
<div class="container">
<%= simple_form_for([@business, @story]) do |f| %>
  <%= f.input :title, required: true %>
  <%= f.input :description, as: :text, required: true %>
  <%= f.association :categories, as: :check_boxes, multiple: true %>
  <%= f.input :photos, as: :file, required: true %>
  <%= f.button :submit %>
<% end %>
</div>
