
<div class="container">
  <div class="mb-3">
    <% @story.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: 'story-cover-photo', crop: :fill %>
    <% end %>
    <div class="card-body">
      <h3 class="card-title"><%= @story.title %></h3>
      <p><strong>Your target audience for this story:</strong></p>
      <!-- categories -->
      <ul>
        <% @story.categories.each do |category| %>
          <li><%= category.name %></li>
        <% end %>
      </ul>
      <%= link_to 'Edit this story', edit_business_story_path(@business, @story), class: 'btn btn-custom btn-custom-dark' %>
    </div>

</div>
<div class="border-top mb-3"></div>
<div class="container">
  <p><strong>See the creators who match your current brand story below 👇</strong></p>
</div>

<div class="container">
  <% @story_categories %>
  <% @creators.each do |creator| %>

    <% @creator_categories = creator.categories.map(&:name) %>
    <% unless (@creator_categories & @story_categories).empty? %>
      <div class="mt-4" style="background-color: none;">
        <h3 class="mt-4"> <%= cl_image_tag creator.photos.first.key, class: "avatar", crop: :thumb, gravity: :face %> <%= creator.stage_name %></h3>
        <p><%= creator.description %></p>
        <%= simple_form_for [@story, @campaign] do |f| %>
          <%= f.input :story_id, value: @story.id, label: false, input_html: {hidden: true}  %>
          <%= f.input :creator_id, value: creator.id, label: false, input_html: {hidden: true} %>
          <%= link_to 'See more', creator_path(creator.id), class: 'btn btn-custom btn-custom-dark' %>

        <% end %>

      </div>
    <% else %>
    <% end %>
  <% end %>
</div>
