<!DOCTYPE html>
<html>
  <head>
    <title>StoryDeck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
<div class="page-container">
    <% unless @skip_navbar %>
  <%= render "components/navbar" %>
    <% end %>
  <main id="main-content">
    <%= yield %>
  </main>
    <% unless @skip_footer %>
  <%= render "components/footer" %>
    <% end %>
</div>
  </body>
</html>
